<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm</title>
</head>
<body>
  <h2>Confirme a exclusão da receita</h2>
  <% if (message) { %>
   <p><%= `${message}` %> </p>
  <% } %>
  <form action=<%= `/recipes/${id}/delete` %> method="POST" >
    <label for="passwordInput">Senha</label>
    <input data-testid="senha" type="password" name="password" id="passwordInput" /><br />
    <button data-testid="confirmar" type="submit">Confirmar</button>
  </form>
</body>
</html>
