<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <h3>Confirme a exclusão da receita</h3>
      <label for="passwordInput">Senha: </label>
      <input data-testid="senha" type="password" name="password" id="passwordInput" /><br />
      <div class="footer">
        <button data-testid="cancelar" class="cancel">Cancelar</button>
        <button data-testid="confirmar" class="confirm" type="submit">Confirmar</button>
      </div>
    </form>
  </body>
</html>

<style>
  body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  form {
    background-color: lightgray;
    max-width: 1280px;
    padding: 30px 40px;
    min-width: 400px;
  }
  label {
    width: 100%;
    font-size: 18px;
  }
  input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin: 5px 0 20px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button{
    padding: 10px 30px;
    border-radius: 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color:white;
    font-weight: bold;
    margin-left: 10px;
    height: fit-content;
  }
  .cancel{
    background-color: dodgerblue;
  }
  .confirm{
    background-color: crimson;
  }
  h3{
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
  }
</style>
