<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
    <header>
      <div>
        Cookmaster
        <a href="/login" data-testid="login">Login</a>
      </div>
    </header>
    <div></div>
    <h2>Receitas</h2>
    <% if (user) { %>
      <button data-testid="nova-receita">Nova Receita</button>
    <% } %>
    <button data-testid="buscar-receita">Buscar Receita</button>
    <% recipes.forEach((recipe) => { %>
      <div>
        <h4><%= recipe.nameRecipe %></h4>
        <h5><%= recipe.user %></h5>
        <a href="Link">Ver mais</a>
      </div>
    <% }) %>
  </body>
</html>
