<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Admin</title>
  </head>

  <body>
    <h1>Painel Administrativo Cookmaster</h1>
    <p>Usuário atual: <%= `${user.name} ${user.lastName}` %></p>
    <pre><%= JSON.stringify(user, null, 4) %></pre>
    <button onclick="window.location.pathname='/logout'">Logout</button>
    <button type="button" data-testid="nova-receita">Nova Receita</button>
    <h2>Receitas do Usuário</h2>
    <% userRecipes.forEach(e => { %>
      <h2><%= `${e.name}` %></h2>
      <a href=<%= `recipes/${e.id}` %>>Ver mais</a>
     <% }) %>
  </body>
</html>
