<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %>
    <form action="/login" method="POST">
      <label for="email">Email: </label>
      <input data-testid="email" type="text" name="email" id="email" /><br />
      <label for="senha">Senha: </label>
      <input data-testid="senha" type="password" name="senha" id="senha" /><br />
      <% if (redirect) { %>
      <input type="hidden" name="redirect" value="<%= decodeURIComponent(redirect) %>" />
      <% } %>
      <button data-testid="entrar" type="submit">Login</button>
      <a href="/cadastro" data-testid="cadastrar">Cadastre-se</a>
    </form>
  </body>
</html>
