<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Cookmaster - Login</title>
  </head>
  <body class="text-center">
    <% if (message) {%>
    <div class="mt-5 message ">
      <%= message %>
    </div>
    <% } %>
    <div class="m-5 p-8 ">
    <form class="form-signin" action="/login" method="POST">
      <label class="sr-only" for="emailInput">Email: </label>
      <input class="form-control" data-testid="email" type="text" name="email" id="emailInput" placeholder="Email" /><br />
      <label class="sr-only" for="passwordInput">Senha: </label>
      <input class="form-control" data-testid="senha" type="password" name="password" id="passwordInput" placeholder="Senha" /><br />
      <% if (redirect) { %>
      <input
        type="hidden"
        name="redirect"
        value="<%= decodeURIComponent(redirect) %>"
      />
      <% } %>
      <a data-testid="cadastrar" href="/cadastro">Cadastre-se</a>
      <button class="btn btn-lg btn-primary " data-testid="entrar" type="submit">Entrar</button>
    </form>
  </div>
  </body>
</html>
