<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body class="text-center" style="max-width: 300px">
    <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %>
    <form action="/login" method="POST" class="col-lg-12">
      <label for="emailInput" class="sr-only">Email: </label>
      <input
        type="text"
        name="email"
        id="emailInput"
        data-testid="email"
        class="form-control"
      /><br />
      <label for="passwordInput" class="sr-only">Senha: </label>
      <input
        type="password"
        name="password"
        id="passwordInput"
        data-testid="senha"
        class="form-control"
      /><br />
      <% if (redirect) { %>
      <input type="hidden" name="redirect" value="<%= decodeURIComponent(redirect) %>" />
      <% } %>
      <a href="/cadastro" data-testid="cadastrar">Cadastre-se</a>
      <button class="btn btn-lg btn-primary btn-block" type="submit" data-testid="entrar">
        Entrar
      </button>
    </form>
  </body>
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto 50%;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type='email'] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type='password'] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
</html>
