<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Cookmaster - Login'}) %>
  <body>
    <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %>
    <div class="container-box">
      <div>
        <form action="/login" method="POST">
          <label for="emailInput">Email: </label>
          <input type="text" name="email" id="emailInput" data-testid="email" /><br />
          <label for="passwordInput">Senha: </label>
          <input type="password" name="password" id="passwordInput" data-testid="senha" /><br />
          <% if (redirect) { %>
          <input type="hidden" name="redirect" value="<%= decodeURIComponent(redirect) %>" />
          <% } %>
          <br/>
          <div class="container">
            <button type="submit" data-testid="entrar">Entrar</button>
            <a href="/cadastrar" data-testid="cadastrar">Cadastre-se</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
