<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% if (message) {%>
    <div><%= message %></div>
    <% } %>
    <form class="w-75 ml-3" action="/login" method="POST">
      <div class="form-group">
        <label for="email">Email: </label>
        <input class="form-control" data-testid="email" type="text" name="email" id="email" /><br />
      </div>
      <div class="form-group">
        <label for="password">Senha: </label>
        <input
          class="form-control"
          data-testid="senha"
          type="password"
          name="password"
          id="password"
        /><br />
      </div>
      <% if (redirect) { %>
      <input type="hidden" name="redirect" value="<%= decodeURIComponent(redirect) %>" />
      <% } %>

      <button class="btn btn-dark mr-2" data-testid="entrar" type="submit">Login</button>
      <a class="btn btn-secondary" href="/cadastro" data-testid="cadastrar">Cadastre-se</a>
    </form>
  </body>
</html>
