<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Logout</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body class="m-3">
    <div class="card w-75 mx-auto">
      <h3 class="card-title text-center m-3">Você se desconectou com sucesso!</h3>
      <div class="card-footer d-flex justify-content-around">
        <a class="btn btn-dark" href="/login">Ir para o login</a>
        <a class="btn btn-secondary" href="/" data-testid="cadastrar">Home</a>
      </div>
    </div>
  </body>
</html>
