<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster - Minhas Receitas</title>
</head>
<body>
    <%- include('../navbar.ejs', { user }); %>
  <article>
    <h1>Minhas Receitas</h1>
    <a href="/recipes/new">
      <button data-testid="nova-receita">Nova receita</button>
    </a>
    <section>
      <% if (recipes) {%>
      <% recipes.forEach(recipe => { %>
        <div>
        <p>Receita: <%= recipe.name %></p>
        <p>Autor: <%= recipe.user %></p>
        <a href=/recipes/<%= `${recipe.id}` %>> Ver mais</a>
      </div>
    <%})%>
    <%}%>
    </section>
  </article>
  
</body>
</html>
