<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Recipe</title>
  </head>
  <body>
    <%- include('../navbar', { user }); %>
    <h1>Nova Receita</h1>
    <form action="/recipes" method="POST">
      <label for="recipeName">Nome da Receita</label><br />
      <input type="text" name="recipeName" id="recipeName" data-testid="nome-receita" /><br />
      <input type="hidden" name="ingredients" id="ingredients" />
      <ul id="ingredientesList"></ul>
      <input type="text" id="ingredientsInput" data-testid="ingredientes" />
      <button for="ingredients" type="button" id="add" data-testid="adicionar-ingrediente">
        Adicionar Ingrediente
      </button>
      <br />
      <label for="instructions">Modo de Preparo</label><br />
      <input
        type="text"
        name="instructions"
        id="instructions"
        data-testid="modo-de-preparo"
      /><br />
      <button type="submit" data-testid="postar-receita">Salvar Receita</button>
    </form>
    <a href="/">
      <button type="button">Voltar</button>
    </a>
  </body>
  <script>
    const addIngredientButton = document.querySelector('#add');
    const ingredientsList = document.querySelector('#ingredientesList');
    const ingredientInput = document.querySelector('#ingredientsInput');
    const ingredients = document.querySelector('#ingredients');
    let ingredientsArray = [];
    const createNewIngredient = () => {
      const item = document.createElement('li');
      const deleteButton = document.createElement('button');
      item.innerText = ingredientInput.value;
      deleteButton.innerText = 'Excluir Ingrediente';
      ingredientsArray.push(ingredientInput.value);
      ingredients.value = ingredientsArray.join(',');
      item.className = 'ingredient-item';
      deleteButton.className = 'delete-button';
      ingredientsList.appendChild(item);
      ingredientsList.appendChild(deleteButton);
      ingredientInput.value = null;
      deleteButton.addEventListener('click', () => {
        ingredientsArray = ingredientsArray.filter((ingredient) => ingredient !== item.innerText);
        ingredients.value = ingredientsArray.join(',');
        item.remove();
        deleteButton.remove();
      });
    };
    addIngredientButton.addEventListener('click', createNewIngredient);
  </script>
</html>
