<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster - Nova Receita</title>
</head>

<body>
  <%- include('../navbar.ejs', { user }); %>
  <h1>Nova Receita</h1>

  <form action="/recipes" method="POST">
    <label htmlFor="nome-receita">Nome da Receita</label>
    <input type="text" id="nome-receita" name="name" data-testid="nome-receita" required />
    <ul id="ingredientsList"></ul>
    <input type="hidden" name="ingredients" id="ingredients-hidden-input" />
    <label htmlFor="ingredientes">Ingredientes</label>
    <input type="text" id="new-ingredient" data-testid="ingredientes" />
    <button id="btn-adicionar" type="button" data-testid="adicionar-ingrediente">Adicionar Ingrediente</button>
    <label htmlFor="modo-de-preparo">Modo de preparo</label>
    <input id="modo-de-preparo" name="instructions" type="text" data-testid="modo-de-preparo" />
    <button type="submit" data-testid="postar-receita">Salvar Receita</button>
  </form>

  <a href="/">
    <button>Voltar</button>
  </a>
</body>
<script>
  const ingredientsList = document.querySelector('#ingredientsList');
  const btnAdicionaIngredient = document.querySelector('#btn-adicionar');
  let arrayIngredients = [];

  const addItemToRecipe = () => {
    const listItem = document.createElement('li');
    const inputNewIngredients = document.querySelector('#new-ingredient');
    listItem.innerText = inputNewIngredients.value;
    arrayIngredients.push(inputNewIngredients.value);
    const btnDeleteItem = document.createElement('button');
    btnDeleteItem.innerText = 'Excluir Ingrediente';
    const inputIngredients = document.querySelector('#ingredients-hidden-input');
    inputIngredients.value = arrayIngredients.join(',');

    ingredientsList.appendChild(listItem);
    ingredientsList.appendChild(btnDeleteItem);
    inputNewIngredients.value = null;
    btnDeleteItem.addEventListener('click', () => {
      arrayIngredients = arrayIngredients.filter((ingredient) => ingredient !== listItem.innerText);
      listItem.remove();
      btnDeleteItem.remove();
      inputIngredients.value = arrayIngredients.join(',');
    })
  };

  btnAdicionaIngredient.addEventListener('click', addItemToRecipe);

</script>
</html>
