<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova Receita</title>
  </head>
  <body>
    <%- include('../../components/header/header', { user }); %>
    <main class="main-content">
      <div class="top-bar">
        <h1>Nova Receita</h1>
      </div>
      <div class="recipe-body">
        <!-- <form action="/recipes" method="POST"> -->
          <label for="recipeName">
            <p>Nome da Receita</p>
            <input type="text" name="recipeName" id="recipeName" data-testid="nome-receita" />
          </label>
          <label for="ingredient">
            <p>Ingredientes</p>
          </label>
          <ul id="ingredient-list">
          </ul>
          <input type="text" name="ingredientName" id="ingredient" data-testid="ingredientes" />
          <button
            data-testid="adicionar-ingrediente"
            onclick="addIngredient()"
          >
            Adicionar ingrediente
          </button>
          <label for="prepareMode">
            <p>Modo de preparo</p>
            <textarea
              name="prepareMode"
              id="prepareMode"
              data-testid="modo-de-preparo"
            ></textarea>
          </label>
          <div>
            <button>Voltar</button>
            <button type="submit" data-testid="postar-receita">Salvar Receita</button>
          </div>
        <!-- </form> -->
      </div>
    </main>
    <script>
      const ingredientes = [];

      function removeIngredient({ target: { id } }) {
        const lista = document.getElementById('ingredient-list');
        // lista.innerHTML = "";
        // const idx = lista.childNodes.filter((element) => element.id === id);
        // console.log(idx);
        ingredientes.slice(id, 1);
        // console.log(ingredientes);
        // console.log(lista.childNodes);
        // lista.removeChild(lista.childNodes[Number(id)]);
      }

      function renderList() {
        const lista = document.getElementById('ingredient-list');
        lista.innerHTML = "";
        ingredientes.forEach((element, idx) => {
          const li = document.createElement('li');
          const btn = document.createElement('button');
          btn.innerHTML = 'Excluir';
          btn.id = `${idx}`;
          btn.addEventListener('click', removeIngredient);
          li.innerHTML = element;
          li.appendChild(btn)
          lista.appendChild(li);
        });
      }

      function addIngredient() {
        const ing = document.getElementById('ingredient').value;
        ingredientes.push(ing);
        renderList();
      }
    </script>
    <style>
      * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
      }

      .cabecalho {
        align-items: center;
        background-color: #c4c4c4;
        display: flex;
        height: 60px;
        justify-content: space-between;
      }

      .header-element {
        padding: 30px;
      }

      .top-bar {
        display: flex;
        justify-content: space-between;
        padding: 40px 60px;
      }

      .recipe-body {
        padding: 5px 50px;
      }
    </style>
  </body>
</html>
