<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster - Editar Cadastro</title>
</head>

<body>
  <h1>Cadastre-se</h1>
  <%- include('../components/userForm', {data, message, 
    action: '/register', method: 'POST', button: 'Cadastrar-se', dataTest: 'cadastrar'}) %>
  <a data-testid="login" href="/login">Efetuar Login</a>
</body>

</html>
