<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cookmaster - SignUp</title>
  </head>
  <body>
      <h1>Cadastro de usuário</h1>
      <% if (message) { %>
        <div><%= message %></div>
      <% } %>
    <form action="/signup" method="POST">
      <label for="emailInput">Email: </label>
      <input data-testid="email" type="text" name="email" id="emailInput" /><br />

      <label for="passwordInput">Senha: </label>
      <input data-testid="senha" type="password" name="password" id="passwordInput" /><br />

      <label for="confirmPasswordInput">Confirmar senha: </label>
      <input data-testid="confirmar-senha" type="password" name="confirmPassword" id="confirmPasswordInput" /><br />

      <label for="nameInput">Nome: </label>
      <input data-testid="nome" type="text" name="name" id="nameInput" /><br />

      <label for="lastNameInput">Sobrenome: </label>
      <input data-testid="sobrenome" type="text" name="lastName" id="lastNameInput" /><br />

      <button data-testid="cadastrar" type="submit" class="btn btn-sm btn-primary">Cadastrar-se</button>
    </form>
    <a href="/login" class="btn btn-sm btn-primary" data-testid="login">Login</a>
  </body>
</html>
