<header>
  <div>Cookmaster</div>
  <div>
    <% if (user) { %>
      <span><%- `${user.firstName} ${user.lastName} |` %> </span>
      <button type="button" data-testid="logout">
        <a href="/logout">Logout</a>
      </button>
    <% } else { %>
      <button type="button" data-testid="login">
        <a href="/login">Login</a>
      </button>
    <% } %> 
  </div>
</header>
