<!-- views/partials/navbar.ejs -->
<header>
  <nav class="container-navbar">
    <h3>Cookmaster</h3>
    <% if (user) { %>
    <div>
      <span><%= user.name %> | </span
      ><a class="button btn-warning" href="/me/edit" data-testid="minha-conta">Minha Conta</a
      ><a class="button btn-warning" href="/logout" data-testid="logout">Logout</a>
    </div>
    <% } else { %>
    <a class="button btn-ok" href="/login" data-testid="login">Login</a>
    <% } %>
  </nav>
</header>
