{
  "extends": "airbnb",
  "rules": {
    "no-alert": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "arrow-parens": [
      2,
      "always"
    ],
    "no-param-reassign": "off",
    "no-console": ["error", { "allow": ["error"] }]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
    "globals": {
      "cy": true
    }
  
}
