.navbar {
  background: #c4c4c4;
  bottom: 0%;
  height: 60px;
  left: 0%;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 100%;
}

.recipe {
  /* position: absolute; */
  background: #c4c4c4;
  height: 117px;
  left: 162px;
  top: 208px;
  width: 343px;
}

.button {
  background: #2d9cdb;
  border-color: white;
  bottom: 83%;
  color: white;
  left: 76.74%;
  position: absolute;
  right: 11.18%;
  top: 12.33%;
}

h2 {
  color: #000000;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  height: 56px;
  left: 34px;
  line-height: 56px;
  position: absolute;
  top: 96px;
  width: 184px;
}

h3 {
  /* Nome da Receita */
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  height: 28px;
  left: 196px;
  line-height: 28px;
  position: absolute;
  top: 231px;
  width: 183px;
}
