.navbar {
  background: rgb(180, 180, 180);
  bottom: 0;
  height: 60px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.recipe {
  background: rgb(180, 180, 180);
  height: 117px;
  left: 162px;
  top: 208px;
  width: 343px;
}

.button {
  background: rgb(38, 135, 199);
  border-color: white;
  bottom: 83%;
  color: white;
  left: 76.74%;
  position: absolute;
  right: 11.18%;
  top: 12.33%;
}

h2 {
  color: black;
  font-family: Roboto, Times, serif;
  font-size: 48px;
  font-style: normal;
  height: 56px;
  left: 34px;
  line-height: 56px;
  position: absolute;
  top: 96px;
  width: 184px;
}

h3 {
  color: black;
  font-family: Roboto, serif;
  font-size: 24px;
  font-style: normal;
  height: 28px;
  left: 196px;
  line-height: 28px;
  position: absolute;
  top: 231px;
  width: 183px;
}
