<section>
  <% if(recipes) {
    recipes.forEach(recipe => {
      %>
      <article>
        <h3><%= recipe.name %></h3>
        <p><%= recipe.user %></p>
        <a href="/recipes/<%= recipe.id %>">Ver mais</a>
      </article>
      <%
    })
  }
  %>
</section>
