<% if (user && user.id === recipe.userId) {%>
  <div>
    <a href="/recipes/<%= recipe.id %>/edit">
      <button data-testid="editar-receita">Editar Receita</button>
    </a>
    <a href="/recipes/<%= recipe.id %>/delete">
      <button data-testid="excluir-receita">Excluir Receita</button>
    </a>
  </div>
<%}%>
