<header>
  <p>Cookmaster</p>
  <% if (!userData) { %>
  <a data-testid="login" href="/login">Login</a>
  <% } %>
  <% if (userData) { %>
  <a data-testid="minha-conta"
    href="/me/edit"><%= `${userData.first_name} ${userData.last_name}` %></a>
  <a data-testid="logout" href="/logout">Logout</a>
  <% } %>
</header>
