<main>
  <h1><%= recipeData.name %></h1>
  <p>Enviada por <%= recipeData.user %></p>
  <div>
    <% if(user) {%>
    <a href="/recipes/<% user.id %>/edit" data-testid="editar-receita">Editar Receita</a>
    <a href="/recipes/<% user.id %>/delete" data-testid="excluir-receita">Excluir Receita</a>
    <% } %>
  </div>
  <section>
    <div>
      <h2>Ingredientes</h2>
      <p><%=recipeData.ingredients %></p>
    </div>
    <div>
      <h2>Modo de preparo</h2>
      <p><%= recipeData.instructions %></p>
    </div>
  </section>
</main>
