<form action="/recipes/search" method="GET">
  <input type="text" data-testid="receita" name="q" placeholder="Digite o nome da receita aqui" />
  <button data-testid="buscar" >Buscar</button>
</form>
