<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>busca - recipes</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body> <div class="conteudo">
      <% recipes.forEach(recipe => { %>
      <div class="card w-75" style="margin: 10px; background-color: rgb(167, 191, 192)">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.user %></h5>
          <p class="card-text"><%= recipe.name %></p>
          <a href= <%= `/recipes/${recipe.id}` %> class="btn btn-primary btn-small">Ver mais</a>
        </div>
      </div>
      <% }) %>
    </div>
  </body>

  <style>
    .conteudo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .header {
      display: flex;
      margin: 10px;
    }
  </style>
</html>
