<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de busca</title>
  </head>
  <body>
    <header>
      <div>
        <h3>Cookmaster</h3>
        <% if (!usuario) { %>
        <a data-testid="login" href="login">Login</a>
        <% } else { %>
        <a data-testid="logout" href="logout">Logout</a>
        <span><%= usuario.name %></span>
        <% } %>
      </div>
    </header>
    <section>
      <form action="/recipes/search" method="GET">
        <input type="text" name="q" data-testid="receita"></input>
        <button type="submit" data-testid="buscar">Buscar</button>
      </form>
      <% if (receita) { %>
        <% receita.forEach((receita) => { %>
          <span><%= receita.name %></span>
          <span><%= receita.user %></span>
          <a href="/recipes/<%= receita.id %>">Ver mais</a>
          <% }) %>
        <% } %>
    </section>
  </body>
</html>
