<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de cadastro - usuario</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="formulario">
      <div class="col-md">
        <h3 class="mb-2">Cookmaster - Cadastro</h3>
        <% if (message) { %>
        <p class="alert alert-danger"><%= message %></p>

        <% } %>

        <form action="/cadastro" method="POST">
          <div class="col-md-12 mb-3">
            <label for="firstName">Nome</label>
            <input
              data-testid="nome"
              type="text"
              class="form-control"
              id="inputName"
              name="first_name"
              required
            />
            <div class="invalid-feedback">Valid first name is required.</div>
          </div>

          <div class="col-md-12 mb-3">
            <label for="lastName">Sobrenome</label>
            <input
              data-testid="sobrenome"
              type="text"
              class="form-control"
              id="inputLastName"
              name="last_name"
              required
            />
            <div class="invalid-feedback">Valid last name is required.</div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="lastName">Senha</label>
            <input
              data-testid="senha"
              type="text"
              class="form-control"
              id="inputPassword"
              name="password"
              required
            />
            <div class="invalid-feedback">Valid last name is required.</div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="lastName">Confirmar Senha</label>
            <input
              data-testid="confirmar-senha"
              type="text"
              class="form-control"
              id="inputPasswordConfirm"
              name="passwordConfirmation"
              required
            />
            <div class="invalid-feedback">Valid last name is required.</div>
          </div>

          <div class="col-md-12 mb-3">
            <label for="email">Email</label>
            <input
              data-testid="email"
              type="email"
              class="form-control"
              id="inputEmail"
              name="email"
            />
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>

          <hr />
          <a href="/login">Fazer login</a>
          <div class="col-lg" style="text-align: right">
            <button data-testid="cadastrar" class="btn btn-primary" type="submit">
              Cadastrar-se
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <style>
    #formulario {
      max-width: 700px;
      margin: 50px 20%;
    }
  </style>
</html>
