<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro</title>
  </head>
  <body>
    <form action="/newUser" method="POST">
      <label for="emailInput">Email: </label>
      <input data-testid="email" type="text" name="email" id="emailInput" /><br />
      <label for="passwordInput">Senha: </label>
      <input data-testid="senha" type="password" name="password" id="passwordInput" /><br />
      <label for="checkPasswordInput">Confirmar Senha: </label>
      <input data-testid="confirmar-senha" type="password" name="checkPassword" id="checkPasswordInput" /><br />
      <label for="nameField">Nome: </label>
      <input data-testid="nome" type="text" name="name" id="nameField" /><br />
      <label for="lastNameField">Sobrenome: </label>
      <input data-testid="sobrenome" type="text" name="lastName" id="lastNameField" /><br />
      <% if (message) {%>
        <div class="message">
          <%= message %>
        </div>
      <% } %>
      <div class="footer">
        <a data-testid="login" href="/login">Fazer Login</a>
        <button data-testid="cadastrar" type="submit">Cadastrar-se</button>
      </div>
    </form>
  </body>
</html>

<style>
  body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  form {
    background-color: lightgray;
    max-width: 1280px;
    padding: 30px;
    min-width: 480px;
  }
  label {
    width: 100%;
    font-weight: bold;
    font-size: 22px;
  }
  input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin: 5px 0 20px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    padding: 10px 30px;
    border-radius: 0;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    font-size: 16px;
  }
</style>
