<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro</title>
  </head>
  <body>
    <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %>
    <form action="/cadastro" method="POST">
      <div>
        <label for="emailInput">Email</label>
        <input required data-testid="email" name="emailInput" id="email" />
      </div>
      <div>
        <label for="passwordInput">Senha</label>
        <input required data-testid="senha" name="passwordInput" id="password" />
      </div>
      <div>
        <label for="passwordConfirmInput">Confirmar senha</label>
        <input
          required
          data-testid="confirmar-senha"
          name="passwordConfirmInput"
          id="passwordConfirm"
        />
      </div>
      <div>
        <label for="firstNameInput">Nome</label>
        <input required data-testid="nome" name="firstNameInput" id="firstName" />
      </div>
      <div>
        <label for="lastNameInput">Sobrenome</label>
        <input required data-testid="sobrenome" name="lastNameInput" id="lastName" />
      </div>
      <div>
        <button data-testid="cadastrar" class="btn btn-light" type="submit">Cadastrar</button>
        <a data-testid="login" class="btn btn-light" href="/login">Login</a>
      </div>
    </form>
  </body>
</html>
