<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
  <% if (message) { %>
    <p><%= message  %></p>
  <% } %>
  <div>
    <h3>Cookmaster - Cadastro</h3>
    <form action="/cadastro" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="email" data-testid="email" name="email" required />
      </div>

      <div>
        <label for="password">Senha</label>
        <input type="password" data-testid="senha" name="password" required />
      </div>

      <div>
        <label for="confirmar-senha">Confirmar Senha</label>
        <input type="password" data-testid="confirmar-senha" name="passwordConfirmed" required />
      </div>

      <div>
        <label for="fName">Nome</label>
        <input type="text" data-testid="nome" name="first_name" required />
      </div>

      <div>
        <label for="lName">Sobrenome</label>
        <input type="text" data-testid="sobrenome" name="last_name" required />
      </div>

      <button data-testid="cadastrar" type="submit">Cadastrar-se</button>

    </div>
    </form>
    <a href="/login">
      <div>
        <button data-testid="login" type="button">Fazer Login</button>
      </div>
    </a>
  </body>
</html>
