<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro</title>
    <style>
      form {
        display: flex;
        flex-direction: column;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <form action="/cadastro" method="POST">
      <label for="email">Email: </label>
      <input data-testid="email" type="text" name="email" id="email" />
      <label for="nome">Nome: </label>
      <input data-testid="nome" type="text" name="nome" id="nome" />
      <label for="sobrenome">Sobrenome: </label>
      <input data-testid="sobrenome" type="text" name="sobrenome" id="sobrenome" />
      <label for="senha">Senha: </label>
      <input data-testid="senha" type="password" name="senha" id="senha" />
      <label for="confirmar-passwordInput">Confirmar senha: </label>
      <input
        data-testid="confirmar-senha"
        type="password"
        name="confirmar-senha"
        id="confirmar-senha"
      />
      <button type="submit">Cadastrar</button>
    </form>
    <a href="/home" data-testid="cadastrar">Cadastre-se</a>
    <a href="/login" data-testid="login">Login</a>
  </body>
</html>
