<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro</title>
    <style>
      form {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <form action="/login" method="POST">
      <label for="emailInput">Email: </label>
      <input data-testid="email" type="text" name="email" id="emailInput" />
      <label for="name">Nome: </label>
      <input data-testid="nome" type="text" name="name" id="name" />
      <label for="last-name">Sobrenome: </label>
      <input data-testid="sobrenome" type="text" name="last-name" id="last-name" />
      <label for="passwordInput">Senha: </label>
      <input data-testid="senha" type="password" name="password" id="passwordInput" />
      <label for="confirmar-passwordInput">Confirmar senha: </label>
      <input
        data-testid="confirmar-senha"
        type="password"
        name="confirmar-password"
        id="confirmar-passwordInput"
      />

      <a href="/home" data-testid="cadastrar">Cadastre-se</a>
      <a href="/login" data-testid="login">Login</a>
    </form>
  </body>
</html>
