<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <div>
      <% if (erroData) { %> <% erroData.forEach((erro) => { %>
      <div>
        <p>Erro no campo <%= erro.nome %></p>
        <p><%= erro.msg %></p>
      </div>
      <% }) %> <% } %>
    </div>
    <form action="/cadastrar" method="POST">
      <label for="emailInput">Email: </label>
      <input type="text" name="email" id="emailInput" data-testid="email" /><br />

      <label for="passwordInput">Senha: </label>
      <input type="password" name="senha" id="passwordInput" data-testid="senha" /><br />

      <label for="confirmaInput">Confirmar Senha : </label>
      <input
        type="password"
        name="confirma"
        id="confirmaInput"
        data-testid="confirmar-senha"
      /><br />

      <label for="nomeInput">Nome: </label>
      <input type="text" name="nome" id="nomeInput" data-testid="nome" /><br />

      <label for="sobrenomeInput">Sobrenome: </label>
      <input type="text" name="sobrenome" id="sobrenomeInput" data-testid="sobrenome" /><br />

      <button type="submit" data-testid="cadastrar">Cadastar-se</button>
    </form>
    <a data-testid="login" href="login">Fazer Login</a>
  </body>
</html>
