<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <form action="/cadastro" method="POST">
      <% if (typeof message !== 'undefined') { %>
        <div class="message">
          <%= message %>
        </div>
      <% } %>
      <h1 class="form-title">Cookmaster - Cadastro</h1>

      <label for="emailInput">Email</label>
      <input type="text" name="email" id="emailInput" data-testid="email" /><br />

      <label for="passwordInput">Senha</label>
      <input type="password" name="password" id="passwordInput" data-testid="senha" /><br />

      <label for="confirmPassInput">Confirmar Senha</label>
      <input type="password" name="confirmPass" id="confirmPassInput" data-testid="confirmar-senha" /><br />

      <label for="nomeInput">Nome</label>
      <input type="text" name="name" id="nomeInput" data-testid="nome" /><br />

      <label for="sobrenomeInput">Sobrenome</label>
      <input type="text" name="lastName" id="sobrenomeInput" data-testid="sobrenome" /><br />

      <button type="submit" data-testid="cadastrar">Cadastrar-se</button>
      <a href="/login" class="link-cadastro" data-testid="login">Fazer Login</a>
    </form>
    <style>
      form {
        align-items: center;
        background-color: #f2f2f2;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 721px;
        justify-content: center;
        left: 50%;
        padding: 20px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 549px;
      }

      .form-title {
        font-family: sans-serif;
        font-size: 16pt;
        margin-bottom: 25px;
      }

      input {
        font-size: 12pt;
        height: 30px;
        width: 50%;
      }

      button {
        background-color: #828282;
        border: none;
        color: white;
        height: 42px;
        width: 174px;
      }

      .link-cadastro {
        margin-top: 20px;
      }
    </style>
  </body>
</html>
