<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Delete</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% if (message) {%>
    <h3 class="card text-center mx-auto bg-warning w-50 m-3"><%= message %></h3>
    <% } %>

    <h3 class="text-center m-3">Confirme a exclusão da receita</h3>
    <form action="/recipes/<%= recipe.iD %>/delete" method="POST">
      <div class="card mx-auto w-50 m-4">
        <div class="form-group w-75 mx-auto m-2">
          <label for="password">Senha</label>
          <input
            data-testid="senha"
            class="form-control"
            type="password"
            name="password"
            id="password"
            required
          />
        </div>

        <div class="d-flex justify-content-around m-2">
          <button class="btn btn-dark mr-2" data-testid="confirmar" type="submit">Confirmar</button>
          <a class="btn btn-secondary mr-2" href="/" data-testid="cancelar">Cancelar</a>
        </div>
      </div>
    </form>
  </body>
</html>
