<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %>
    <form action="/recipes/<%= id %>/delete" method="POST">
      <p>Confirme exclusão da receita</p>
      <label for="passwordInput">Senha
        <input type="password" name="password" id="passwordInput" data-testid="senha" />
      </label>
      <a href="/">
        <button type="button" data-testid="cancelar">Cancelar</button>
      </a>
      <button type="submit" data-testid="confirmar">Confirmar</button>
    </form>
  </body>
</html>
