<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Delete Recipe</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-sm mt-5">
      <form method="POST" action="/recipes/<%= id %> /delete">
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" data-testid="senha" class="form-control" name="password" />
          <% if (message) {%>
          <p class="message"><%= message %></p>
          <% } %>
        </div>
        <a data-testid="cancelar" href="/" class="btn btn-outline-danger my-2 my-sm-0">Cancelar</a>
        <button data-testid="confirmar" type="submit" class="btn btn-outline-success my-2 my-sm-0">
          Deletar
        </button>
      </form>
    </div>
  </body>
</html>
