<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster - Apagar Receita</title>
</head>
<body>
  <article>
    <p>Confirme a exclusão da receita</p>
    <p>Senha</p>
    <input type="password" data-testid="senha" />
    <button data-testid="cancelar">Cancelar</button>
    <button data-testid="confirmar">Confirmar</button>
  </article>
</body>
</html>