<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deletar Receita</title>
</head>
<body>
  <% if (message) { %>
    <h2><%= message %></h2>
  <% } %>
  <form action="/recipes/<%= id %>/delete" method="POST">
    <label for="password">Senha
      <input data-testid="senha" id="password" name ="password" type="password">
    </label>
    <button type="submit" data-testid="confirmar">Confirmar</button>
    <button type="button" onclick="window.location.pathname='/recipes/<%= id %>'" data-testid="cancelar">Cancelar</button>
  </form>
</body>