<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Cookmaster</a>
        <% if (!token) { %>
        <a href="/login" data-testid="login">Login</a>
        <% } else { %>
        <a href="/logout" data-testid="logout">Logout</a>
        <% } %>
      </nav>
    </header>
  </body>
</html>
