<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <div class="container">
      <h1>Cookmaster - Receitas</h1>
      <ul>
        <% recipes.forEach(recipe => { %>
          <li><%= recipe.user %> - <%= recipe.name %> - <a class="btn btn-sm btn-secondary" href="/recipes/<%= recipe.id %>">Ver mais</a></li>
        <% }) %>
      </ul>
      <% if (user) {%>
        <span>Hello, <%= user.name %></span>
        <a href="/" data-testid="nova-receita" class="btn btn-sm btn-primary">Nova Receita</a>
        <a href="/logout" data-testid="logout" class="btn btn-sm btn-primary">Logout</a>
      <% }  else { %>
        <a href="/login" data-testid="login" class="btn btn-sm btn-primary">Login</a>
      <% } %>
      <a href="/" data-testid="buscar-receita" class="btn btn-sm btn-primary">Buscar Receita</a>
    </div>
  </body>
</html>
