<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/home.css">
    <title>Cookmaster</title>
  </head>
  <body>
    <nav class="navbar">
      <h1>Cookmaster</h1>
      <a data-testid="login" href="/login" >Login</a>
    </nav>

    <h2>Receitas</h2>

    <button class="button" data-testid="buscar-receita">Buscar Receitas</button>

    <ul>
      <% recipes.forEach(({user, recipe, id}) => { %>
        <li class="recipe">
          <%=`${recipe} ${user}`%>
          <a href=<%= `recipes/${id}` %> >Ver mais</a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
