<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1>Receitas</h1>
      <div>
        <% if (user) { %>
          <button data-testid="nova-receita">Nova Receita</button>
        <% } %>
        <button data-testid="buscar-receita">Buscar Receita</button>
      </div>
    </div>
    <div class="container-cards">
      <% for (let i = 0; i <= data.length-1; i++ ) { %> <%- include('partials/recipeCard', {i}) %>
      <% } %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
