<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('./includes/header.ejs', { user }) %>

    <button data-testid="buscar-receita">
      <a href="/recipes/search">Buscar Receita</a>
    </button>
    <!-- Only visible when logged in. -->
    <% if (user) { %>
    <button data-testid="nova-receita">
      <a href="/recipes/new">Nova Receita</a>
    </button>
    <button data-testid="minhas-receitas">
      <a href="/me/recipes">Minhas Receitas</a>
    </button>
    <% } %>

    <h1>Receitas</h1>
    <% recipes.forEach((recipe) => { %>
    <ul>
      <li><%= recipe[3] %></li>
      <li><%= recipe[1] %></li>
      <li><a href="/recipes/<%= recipe[0] %>">Ver mais</a></li>
    </ul>
    <% }) %>
  </body>
</html>
