<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
</head>

<body>
  <header>
    <p>Cookmaster</p>
    <% if (!userData) { %>
    <a data-testid="login" href="/login">Login</a>
    <% } %>
    <% if (userData) { %>
    <a data-testid="logout" href="/logout">Logout</a>
    <% } %>
  </header>
  <div>
    <h1>Receitas</h1>
    <div>
      <% if (userData) { %>
      <button data-testid="nova-receita">Nova Receita</button>
      <% } %>
      <button data-testid="buscar-receita">Buscar Receita</button>
    </div>
  </div>
  <div>
    <% recipes.forEach(r => { %>
    <div>
      <p><%=r.name%></p>
      <p><%r.user%></p>
      <a href="/recipes/<%=r.id%>">Ver Mais</a>
    </div>
    <% }); %>
  </div>
</body>

</html>
