<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
</head>

<body>
  <%-include('header', {userData})%>
  <div>
    <h1>Receitas</h1>
    <div>
      <% if (userData) { %>
      <a data-testid="nova-receita" href="/recipes/new">Nova Receita</a>
      <% } %>
      <button data-testid="buscar-receita">Buscar Receita</button>
    </div>
  </div>
  <div>
    <% recipes.forEach(r => { %>
    <div>
      <p><%=r.name%></p>
      <p><%=r.user%></p>
      <a href="/recipes/<%=r.id%>">Ver mais</a>
    </div>
    <% }); %>
  </div>
</body>

</html>
