<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('components/header') %>
    <h1>Receitas</h1>
    <button data-testid="buscar-receita">Buscar Receitas</button>
    <div>
      <ul>
        <% recipes.forEach((recipe) => { %>
          <li><%= recipe.user %> - <%= recipe.name %></li>
          <a href=<%= `/recipe/${recipe.id}` %>>Ver mais</a>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
