<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="ho" <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Cookmaster - Home</title>
</head>

<body>
  <%- include('./components/header.ejs', { user }) %>
    <h1>Receitas</h1>
    <% if (user) { %>
      <button data-testid="nova-receita"><a href="/recipes/new">
        Nova Receita
      </a></button>
      <button data-testid="minhas-receitas"><a href="/me/recipes">
        Minhas Receitas
      </a></button>
      <button data-testid="minha-conta"><a href="/me/edit">
        Minha Conta
      </a></button>
    <% } %>
    <button data-testid="buscar-receita" onclick="window.location.pathname='/recipes/search'">
      Buscar Receita
    </button>
    <div>
      <%- include('./components/recipesCard.ejs', { recipes }) %>
</body>
</html>
