<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('./components/header.ejs', { user }) %>
    <h1>Receitas</h1>
    <% if (user) { %>
      <button data-testid="nova-receita"><a href="/recipes/new">
        Nova Receita
      </a></button>
    <% } %>
    <button data-testid="buscar-receita" onclick="window.location.pathname='/recipes/search'">
      Buscar Receita
    </button>
    <div>
      <%- include('./components/recipeCard.ejs', { recipes }) %>
    </div>
  </body>
</html>
