<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h1>Cookmaster</h1>
    <h2>Receitas</h2>
    <% recipes.forEach(({ name, user, id}) => { %>
      <div>
        <h3><%= name %></h3>
        <p><%= user %></p>
        <a href='<%id%>'>Ver mais</a>
      </div>
    <% }) %>
  </body>
</html>
