<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h3>Cookmaster</h3>
    <h1>Receitas</h1>
    <a href="Link">Ver mais</a>
    <a href="" data-testid="nova-receita">Nova Receita</a>
    <a href="" data-testid="buscar-receita">Buscar Receita</a>
    <a href="/login" data-testid="login">Login</a>
    <a href="" data-testid="logout">Logout</a>
  </body>
</html>
