<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Cookmaster'}) %>
  <body>
    <%- include('partials/navbar') %>
    <div class="container home">
      <h1>Receitas</h1>
      <div>
        <% if (user) { %>
          <a class="button" href="/recipes/new" data-testid="nova-receita">Nova Receita</a>
        <% } %>
        <a class="button" href="/recipes/search" data-testid="buscar-receita">Buscar Receita</a>
        <a class="button" href="/" data-testid="minhas-receitas">Buscar Receita</a>
      </div>
    </div>
    <div class="container-cards">
      <% for (let i = 0; i <= recipes.length-1; i++ ) { %>
        <%- include('partials/recipeCard', {i}) %>
      <% } %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
