<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Cookmaster</a>
      <% if( !user ) { %>
        <a href="/login" class="btn btn-outline-success my-2 my-sm-0" data-testid="login" >Login</a>
      <% } else { %>
        <a href="/logout" class="btn btn-outline-success my-2 my-sm-0" data-testid="logout" >Logout</a>
      <% } %>
    </nav>
   
    <div class="receitas">
      <a class="navbar-brand">Receitas</a>
      <% if( !user ) { %>
        <button class="btn btn-outline-primary my-2 my-sm-0" data-testid="buscar-receita">Buscar Receita</button>  
      <% } else { %>
        <button class="btn btn-outline-primary my-2 my-sm-0" data-testid="buscar-receita">Buscar Receita</button>
        <button class="btn btn-outline-primary my-2 my-sm-0" data-testid="nova-receita">Nova Receita</button>
      <% } %>

      <% recipes.forEach(recipe => { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %></h5>
          <p class="card-text"><%= recipe.user %></p>
          <a href="#" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
      <% }); %>
    </div>

  </body>
</html>
