<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h1>Boas vindas ao Cookmaster!</h1>

    <p>Cookmaster</p>

    <p>Receitas</p>

    <% recipes.forEach((recipe) => { %>
    <p><%= recipe.name %></p>
    <p><%= recipe.user %></p>
    <a href="/recipes/<%= recipe.id %>" role="button">Detalhes da receita</a>
    <% }) %>
    <button data-testid="buscar-receita">Buscar Receita</button>
  </body>
</html>
