<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <div>
        <h1>Cookmaster</h1>
        <button>Login</button>
      </div>
    </header>
    
    <% recipes.map(({user, name, id}) =>{ %>
      <li>
        <%=`${name} ${user}`%>
      </li>
    <% }) %>
  </body>
</html>
