<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <p>Cookmaster</p>
      <% if (user) { %>
        <a href="/logout" data-testid="logout">Logout</a>
      <% } else { %>
        <a href="/login" data-testid="login">Login</a>
      <% } %>
    </header>
    <h1>Receitas</h1>
    <div>
      Colocar as receitas aqui
      <% recipes.forEach((recipe) => { %>
        <div>
          <h3><%= recipe.name %></h3>
          <p><%= recipe.user %></p>
          <a href="Link">Ver mais</a>
        </div>
      <% }) %>
    </div>
    <button hidden data-testid="nova-receita">Nova Receita</button>
    <button data-testid="buscar-receita">Buscar Receita</button>
  </body>
</html>
