<%- include('header'); -%>
    <div class="receitas">
      <a class="navbar-brand">Receitas</a>
      <% if( !user ) { %>
      <button class="btn btn-outline-primary my-2 my-sm-0" data-testid="buscar-receita">
        Buscar Receita
      </button>
      <% } else { %>
      <button class="btn btn-outline-primary my-2 my-sm-0" data-testid="buscar-receita">
        Buscar Receita
      </button>
      <button class="btn btn-outline-primary my-2 my-sm-0" data-testid="nova-receita">
        Nova Receita
      </button>
      <% } %> <% recipes.forEach(recipe => { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %></h5>
          <p class="card-text"><%= recipe.user %></p>
          <a href="details/<%= recipe.id %>" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
