<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <navbar>
      <%- include('navbar')%>
      <h1>Receitas</h1>
    </navbar>

    <section>
      <nav>
        <% if (user) { %>
        <button>Minhas Receitas</button>
        <button data-testid="nova-receita">Nova Receita</button>
        <button>Minha Conta</button>
        <% } %>
        <button data-testid="buscar-receita">Buscar Receitas</button>
      </nav>
    </section>
  </body>
</html>
