<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('header', { user }); %>
    <h1>Receitas</h1>
    <a href="/recipes/search" data-testid="buscar-receita">Buscar Receita</a>
    <% if (user) { %>
    <a href="/recipes/new" data-testid="nova-receita">Nova Receita</a>
    <a href="/me/recipes" data-testid="minhas-receitas">Minhas receitas</a>
    <% } %> <% recipes.forEach((recipe) => { %>
    <div>
      <h2><%= recipe.name %></h2>
      <h4><%= recipe.user %></h4>
      <a href=<%= `/recipes/${recipe.id}` %> >Ver mais</a>
    </div>
    <% }) %>
  </body>
</html>
