<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <nav>
      <h1>Cookmaster</h1>
    </nav>
    <section>
      <nav>
        <h1>Receitas</h1>
        <button data-testid="buscar-receita">Buscar</button>
      </nav>
      <article>
        <div>
          <span>Nome da Receita</span>
          <span>Nome do usuário</span>
          <a href="Link">Ver mais</a>
        </div>
      </article>
    </section>
  </body>
</html>
