<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('header', { user }) -%>
    <div>
      <button type="button" data-testid="buscar-receita" onclick="window.location.pathname='/recipes/search'">Buscar Receita</button>
      <h1>Receitas</h1>
      <!-- These buttons should only appear if the user is logged in. -->
      <% if(user) {%>
        <a href='/me/edit' data-testid="minha-conta">Minha Conta</a>
        <a href="/me/recipes" data-testid="minhas-receitas">Minhas Receitas</a>
        <a href="/recipes/new" data-testid="nova-receita">Nova Receita</a>
      <% } %>
      <!-- Showing recipes and database user-->
      <% getAllRecipes.forEach(item => { %>
      <div>
        <p>Receita: <%= item.name %> </p>
        <p>Usuário: <%= item.user %> </p>
        <a href= <%= `/recipes/${item.id}` %> >Ver mais</a>
      </div>
      <% }) %>
    </div>
  </body>
</html>
