<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title>Cookmaster - Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <h1 class="navbar-brand">Boas vindas ao Cookmaster</h1>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSite"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSite">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/recipes/search" data-testid="buscar-receita"
                >Buscar Receita</a
              >
            </li>
            <% if (!user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/login" data-testid="login">Login</a>
            </li>

            <% } else { %>

            <li class="nav-item">
              <a class="nav-link" href="/me/recipes" data-testid="minhas-receitas"
                >Minhas Receitas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recipes/new" data-testid="nova-receita">Nova Receita</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout" data-testid="logout">Logout</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h4>Receitas</h4>
      <div class="row mb-5">
        <% recipes.forEach(recipe => { %>
        <div class="col-sm-4">
          <div class="card">
            <h5 class="card-title"><%= recipe.name %></h5>
            <img
              class="card-img-top"
              src="http://encurtador.com.br/qMNR8"
              alt="foods image with 'cooking' text in center"
            />
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Por <%= recipe.user %></h6>
              <a class="card-link" href="/recipes/<%=recipe.id%>">Ver mais</a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
