<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('./stickers/header.ejs', {user}); %>
    <h2>Receitas:</h2>
    <div style="display: flex; flex-wrap: wrap;">
      <% allRecipes.map(recipe => { %>
      <div
        style="
          display: flex;
          border-radius: 5px;
          color: whitesmoke;
          justify-content: space-between;
          flex-direction: column;
          background: gray;
          max-width: 200px;
          margin: 15px;
          padding: 15px;
        "
      >
        <h3 style="margin-top: 0;">Receita: <%= recipe.name %></h3>
        <div>
          <h4 style="margin: 0;">Autor: <%= recipe.user %></h4>
          <a style="color: whitesmoke;" href="link">Ver mais</a>
        </div>
      </div>

      <%})%>
    </div>
    <div>
      <% if (user) { %>
      <button data-testid="nova-receita">Nova Receita</button>
      <% } %>
      <button data-testid="buscar-receita">Buscar Receita</button>
    </div>
  </body>
</html>
