<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h1>Boas vindas ao Cookmaster!</h1>
    <% if (user) { %>
    <span>Usuário logado: <%=user.name %></span>
    <a href="logout" data-testid="logout">Logout</a>
    <% } else { %>
    <a href="/login" data-testid="login">Login</a>
    <% } %>
    <% if (user) { %>
      <a data-testid="nova-receita">Nova Receita</a>
      <% } else { %> <% } %>

    <a data-testid="buscar-receita">Buscar Receita</a>

    <p>Receitas:</p>
    <ul>
      <% recipes.forEach(recipe => { %>
      <li><%= recipe.name %></li>
      <span><%= recipe.user %></span>
      <a href="/recipes/<%=recipe.id%>">Ver mais</a>
      <% }) %>
    </ul>
  </body>
</html>
