<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('./templates/header.ejs', {user}); %>
    <section class="container-fluid">
      <nav>
        <h1>Receitas</h1>
        <% if (user) { %>
        <a class="btn btn-primary">Minhas Receitas</a>
        <a href="/new" class="btn btn-primary" data-testid="nova-receita">Nova Receita</a>
        <a class="btn btn-primary">Minha Conta</a>
        <% } %>
        <a class="btn btn-primary" data-testid="buscar-receita">Buscar</a>
      </nav>
      <article>
        <% recipes.map(recipe => {%>
        <div>
          <span><%= `${recipe.user}` %></span>
          <span><%= `${recipe.name}` %></span>
          <a href="Link">Ver mais</a>
        </div>
        <% })%>
      </article>
    </section>
  </body>
</html>
