<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h1>Cookmaster</h1>
    <a href='/login' data-testid='login'>Login</button>
    <button data-testid='buscar-receita'>Buscar Receitas</button>
    <ul>
      <hi>Receitas</hi>
      <% recipes.forEach(({user, recipe, id}) => { %>
      <li><%= `${recipe} ${user}` %></li>
      <a href= <%=`recipes/${id}`%> >Ver mais</a>
      <% }) %>
    </ul>
  </body>
</html>
