<%- include('header'); -%>
    <div class="receitas">
      <h1 class="navbar-brand">Receitas</h1>
      <% if( user ) { %>
        <a href="/recipes/new" class="btn btn-outline-primary my-2 my-sm-0" data-testid="nova-receita">
          Nova Receita
        </a>
        <a href="/me/recipes" data-testid="minhas-receitas">Minhas receiras</a>
      <% } %>
      <a href="/recipes/search" class="btn btn-outline-primary my-2 my-sm-0" data-testid="buscar-receita">
        Buscar Receita
      </a>

      <% recipes.forEach(recipe => { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %></h5>
          <p class="card-text"><%= recipe.user %></p>
          <a href="recipes/<%= recipe.id %>" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
