<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h1>Cookmaster</h1>
    <nav>
      <% if(user) { %>
      <p><%= user.name + " " + user.lastName %></p>
      <button type="button" data-testid="nova-receita">Nova Receita</button>
      <a href="/logout" data-testid="logout">Logout</a>
      <% } else { %>
      <p>Usuário não autenticado</p>
      <a href="/login" data-testid="login">Login</a>
      <% } %>
    </nav>
    <h3>Receitas</h3>
    <button type="button" data-testid="buscar-receita">Buscar Receita</button>
    <div>
      <% recipes.forEach((recipe) => { %>
      <p><%= recipe.recipeName %></p>
      <p><%= recipe.userName %></p>
      <a href="/recipes/<%= recipe.recipeID %>">Ver mais</a>
      <% }) %>
    </div>
  </body>
</html>
