<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('header', { user }); %>
    <h1>Receitas</h1>
    <button data-testid="buscar-receita">Buscar Receita</button>
    <% if (user) { %>
    <button data-testid="nova-receita">Nova Receita</button>
    <% } %> <% recipes.forEach((recipe) => { %>
    <div>
      <h2><%= recipe.name %></h2>
      <h4><%= recipe.user %></h4>
      <a href="/recipe/:id">Ver mais</a>
    </div>
    <% }) %>
  </body>
</html>
