<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <p>Cookmaster</p>
      <% if (!user) { %>
      <a href="Login">
        <button data-testid="login">Login</button>
      </a>
      <% } %> <% if (user) { %> Olá, <%= user.name %>
      <a href="/logout">
        <button data-testid="logout">Logout</button>
      </a>
      <% } %>
    </header>
    <h1>Receitas</h1>
    <% if (user) { %>
      <a href="/recipes/new">
        <button data-testid="nova-receita">Nova Receita</button>
      </a>
    <% } %>
    <a href="/recipes/search">
      <button data-testid="buscar-receita">Buscar Receita</button>
    </a>

    <div>
      <% recipes.forEach(r => { %>
      <div>
        <p><%=r.name%></p>
        <p><%=r.user%></p>
        <a href="/recipes/<%=r.id%>">Ver mais</a>
      </div>
      <% }); %>
    </div>
  </body>
</html>
