<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster Home</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div class="main-container">
    <%- include('../components/header/header'); %>
    <main class="main-content">
      <div class="top-bar">
        <h1>Receitas</h1>
        <button
          class="search-btn"
          data-testid="buscar-receita"
        >
          Buscar Receita
        </button>
      </div>
      <div class="recipes-container">
        <% recipes.map((recipe) => { %>
          <div class="recipe-card">
            <span><%= recipe.name %></span>
            <span><%= recipe.user %></span>
            <div>
              <a href="Link">Ver mais</a>
            </div>
          </div>
        <% }) %>
      </div>
    </main>
  </div>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .top-bar {
      display: flex;
      justify-content: space-between;
      padding: 40px 60px;
    }

    .top-bar:only-child {
      padding: 50px 150px 10px;
    }

    .cabecalho {
      align-items: center;
      background-color: #c4c4c4;
      display: flex;
      height: 60px;
      justify-content: space-between;
    }

    .header-element {
      padding: 30px;
    }

    .search-btn {
      background: #2d9cdb;
      border: none;
      color: white;
      height: 42px;
      width: 174px;
    }

    .recipes-container {
      box-sizing: border-box;
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      width: 1302px;
    }

    .recipe-card {
      align-items: flex-start;
      background-color: #c4c4c4;
      box-sizing: border-box;
      display: flex ;
      flex-direction: column;
      height: 117px;
      margin: 10px 10px;
      padding: 30px;
      width: 343px;
    }

    .recipe-card span:first-child {
      font-size: 18pt;
    }

    .recipe-card div {
      display: flex;
      justify-content: flex-end;
      width: 270px;
    }
  </style>
</body>
</html>
