<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <div>
        <h3>Cookmaster</h3>
      </div>
      <div>
        <% if (!usuario) { %>
        <a data-testid="login" href="login">Login</a>
        <% } else { %>
        <a data-testid="logout" href="logout">Logout</a>
        <% } %>
      </div>
    </header>
    <section>
      <div>
        <div>
          <h1>Receitas</h1>
        </div>
        <div>
          <span><%= receitas.length %> receitas cadastradas</span>
        </div>
      </div>
      <div>
        <div>
          <% if(usuario) { %>
          <a data-testid="nova-receita" href="buscar">Nova Receita</a>
          <% } %>
        </div>
        <div>
          <a data-testid="buscar-receita" href="buscar">Buscar Receita</a>
        </div>
      </div>
    </section>
    <section>
      <% receitas.forEach((receita) => { %>
      <div>
        <h4><%= receita.name %></h4>
        <h5><%= receita.user %></h5>
        <a href="Link">Ver mais</a>
      </div>
      <% }) %>
    </section>
  </body>
</html>
