<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <h1>Boas vindas ao Cookmaster!</h1>

      <% if (!user) { %>

      <a href="/login" data-testid="login">Login</a>

      <% } else {%>

      <a href="/logout" data-testid="logout">Logout</a>

      <% } %>
    </header>

    <p>Cookmaster</p>

    <h3>Receitas</h3>

    <% recipes.forEach((recipe) => { %>
    <h4><%= recipe.name %></h4>
    <p><%= recipe.user %></p>
    <a href="/recipes/<%= recipe.id %>" role="button">Ver mais</a>
    <% }) %>

    <% if (user) { %>
    <a href="/recipes/new" data-testid="buscar-receita">Nova Receita</a>
    <% } %>

    <button data-testid="buscar-receita">Buscar Receita</button>
  </body>
</html>
