<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="ho" <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Cookmaster - Home</title>
</head>

<body>
  <%- include('./components/header.ejs', { user }) %>
    <h1>Receitas</h1>
    <% if(user) {%>
      <a href='/me/edit' data-testid="minha-conta">Minha Conta</a>
      <a href="/me/recipes" data-testid="minhas-receitas">Minhas Receitas</a>
      <a href="/recipes/new" data-testid="nova-receita">Nova Receita</a>
    <% } %>
    <button data-testid="buscar-receita" onclick="window.location.pathname='/recipes/search'">
      Buscar Receita
    </button>
    <div>
      <%- include('./components/recipesCard.ejs', { recipes }) %>
</body>
</html>
