<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div><%- include('./header.ejs', { user }); %></div>
    <% if(user) { console.log(user) } %>
    <div>
      <h1>Receitas</h1>
      <% if (user) { %>
      <a class="btn btn-primary">Minhas Receitas</a>
      <a href="" class="btn btn-primary" data-testid="nova-receita">Nova Receita</a>
      <% } %>
      <a href="" class="btn btn-primary" data-testid="buscar-receita">Buscar Receita</a>
      <div class="d-flex justify-content-around flex-wrap">
        <% recipes.forEach((recipe) => { %>
        <div class="container-md card mb-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.name %></h5>
            <p class="card-text"><%= recipe.user %></p>
            <a href="Link" class="btn btn-primary">Ver mais</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
