<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('header') %>
    <h1>Receitas</h1>
    <a href="/recipes/search" data-testid="buscar-receita">Buscar Receita</a>
    <%- include('recipesCards') %>

    <% if (user) { %>
      <a href="/recipes/new" data-testid="nova-receita">Nova Receita</a>
    <% } %>
  </body>
</html>
