<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <h1>Cookmaster</h1>
      <a data-testid="login" href="">Login</a>

    </header>

    <h3>Receitas</h3>

    <% if (token) { %>
        <a  href="">Minhas Receitas</a>
        <a data-testid="buscar-receita" href="">Buscar Receitas</a>
        <a data-testid="nova-receita" href="">Nova Receita</a>
        <a href="">Minha Conta</a>
    <% } %>

    <div class="container">
      <% recipes.map(({user, name, id}) =>{ %>
        <li>
          <%=`${name} ${user}`%>
          <a href=<%=`recipes/${id}`%> >Ver mais<a/>
        </li>
      <% }) %>
    </div>
  </body>
</html>
