<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
</head>

<body>
  <h1>Cookmaster</h1>

  <% if(user) { %>
  <a href="/recipes/new">
    <button type="button" data-testid="nova-receita">
      Nova Receita
    </button>
  </a>

  <a href="/me/recipes">
    <button type="button" data-testid="minhas-receitas">
      Minhas Receitas
    </button>
  </a>
  <a href="/logout">
    <button type="button" data-testid="logout">
      Logout
    </button>
  </a>
  <% } else { %>
  <a href="/login">
    <button type=" button" data-testid="login">
      Login
    </button>
  </a>
  <% } %>

  <a href="/recipes/search">
    <button type=" button" data-testid="buscar-receita">
      Buscar Receita
    </button>
  </a>

  <h1>Receitas</h1>
  <% recipes.forEach(([id, user, name]) => { %>
  <h2><%= name %></h2>
  <p><%= user %></p>
  <a href=<%= `recipes/${id}` %>>Ver mais</a>
  <% }); %>
</body>

</html>
