<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <nav>
      <h1>Cookmaster</h1>
      <% if (user) { %>
      <p>Usuário atual: <%= `${user.name} ${user.lastName}` %></p>
      <pre><%= JSON.stringify(user, null, 4) %></pre>
      <a data-testid="logout" href='/logout'">Logout</a>
      <% } else { %>
      <a data-testid="login" href='/login'">Login</a>
      <% } %>
    </nav>
    <section>
      <nav>
        <h1>Receitas</h1>
        <% if (user) { %>
        <button>Minhas Receitas</button>
        <button data-testid="nova-receita">Nova Receita</button>
        <button>Minha Conta</button>
        <% } %>
        <button data-testid="buscar-receita">Buscar</button>
      </nav>
      <article>
        <% recipes.map(recipe => {%>
        <div>
          <span><%= `${recipe.user}` %></span>
          <span><%= `${recipe.name}` %></span>
          <a href="Link">Ver mais</a>
        </div>
        <% })%>
      </article>
    </section>
  </body>
</html>
