<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h1>Cookmaster!</h1>
    <button data-testid="login">
      <a href="/login">Login</a>
    </button>

    <!-- Only visible when logged -->
    <% if (user) { %>
      <button data-testid="logout">
        <a href="/logout">Logout</a>
      </button>
    <% } %>

    <h2>Receitas</h2>
    <% recipes.forEach((recipe) => { %>
    <ul>
      <li><%= recipe[3] %></li>
      <li><%= recipe[1] %></li>
      <li><a href="/recipe/<%= recipe[0] %>">Ver mais</a></li>
    </ul>
    <% }) %>

    <!-- Only visible when logged in. -->
    <% if (user) { %>
    <button data-testid="nova-receita">
      <a href="/recipe/new">Nova Receita</a>
    </button>
    <% } %>
  </body>
</html>
