<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cookmaster - Home</title>
  </head>
  <body class="text-center">    
    <header class="bg-dark d-flex justify-content-between">
    </header>
    <div class="container">
      <div class="row justify-content">
        <h1>Cookmaster - Receitas</h1>
      </div>
      <div class="row mb-4">
        <div class="col">
          <% if (user) {%>
            <span>Hello, <%= user.name %></span>
            <a href="/recipes/new" data-testid="nova-receita" class="btn btn-sm btn-primary">Nova Receita</a>
            <a href="/logout" data-testid="logout" class="btn btn-sm btn-primary">Logout</a>
          <% }  else { %>            
            <a href="/login" data-testid="login" class="btn btn-sm btn-primary">Login</a>
          <% } %>
          <a href="/recipes/search" data-testid="buscar-receita" class="btn btn-sm btn-primary">Buscar Receita</a>
        </div>
      </div>
      <div class="row">
        <% recipes.forEach(recipe => { %>
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.name %></h5>
              <p class="card-text"><%= recipe.user %></p>
              <a href="/recipes/<%= recipe.id %>" class="btn btn-sm btn-secondary">Ver mais</a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
