<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('./components/header.ejs', { user }) %>
    <h1>Receitas</h1>
    <% if (user) { %>
      <button data-testid="nova-receita">
        Nova Receita
      </button>
    <% } %>
    <button data-testid="buscar-receita">Buscar Receita</button>
    <div>
      <ul>
        <% recipes.forEach((recipe) => { %>
          <li><%= recipe.user %> - <%= recipe.name %></li>
          <a href=<%= `/recipes/${recipe.id}` %>>Ver mais</a>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
