<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('./headBar.ejs', { token }); %>
    <div>
      <a data-testid="buscar-receita" href="/recipes/search">Buscar Receita</a>
      <% if (token) { %>
        <a href="/recipes/new"
        ><button data-testid="nova-receita">Nova Receita</button></a>
        <a data-testid='minhas-receitas' href="/me/recipes">Minhas Receitas</a>
        <% } %>
    </div>
    <h1>Receitas</h1>
    <%- include('./cardRecipe.ejs', { recipes }); %>
  </body>
</html>
