<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster Home</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div class="main-container">
    <%- include('../components/header/header', { user }); %>
    <main class="main-content">
      <div class="top-bar">
        <h1>Receitas</h1>
        <nav class="nav-content">
          <% if (user) { %>
            <a href="/recipes" class="search-btn" data-testid="minhas-receitas">
              Minhas Receitas
            </a>
            <a href="/recipes/new" class="search-btn" data-testid="nova-receita">
              Nova Receita
            </a>
            <a href="" class="search-btn" data-testid="">
              Minha Conta
            </a>
          <% } %>
          <a href="/recipes/search" class="search-btn" data-testid="buscar-receita" >
            Buscar Receita
          </a>
        </nav>
      </div>
      <div class="recipes-container">
        <% recipes.map((recipe) => { %>
          <div class="recipe-card">
            <span><%= recipe.name %></span>
            <span><%= recipe.user %></span>
            <div>
              <a href="/recipes/<%= recipe.id %>">Ver mais</a>
            </div>
          </div>
        <% }) %>
      </div>
    </main>
  </div>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .top-bar {
      display: flex;
      justify-content: space-between;
      padding: 40px 60px;
    }

    .cabecalho {
      align-items: center;
      background-color: #c4c4c4;
      display: flex;
      height: 60px;
      justify-content: space-between;
    }

    .header-element {
      padding: 30px;
    }

    .main-content {
      width: 100%;
    }

    .search-btn {
      background: #2d9cdb;
      border: none;
      color: white;
      height: 42px;
      margin: 0 10px;
      padding: 15px 25px;
      text-decoration: none;
      width: 174px;
    }

    .search-btn:hover {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    }

    .search-btn:first-child {
      background-color: #9b51e0;
    }

    .search-btn:nth-child(3) {
      background-color: #828282;
    }

    .recipes-container {
      box-sizing: border-box;
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .recipe-card {
      align-items: flex-start;
      background-color: #c4c4c4;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      display: flex ;
      flex-direction: column;
      height: 117px;
      margin: 10px 10px;
      padding: 30px;
      width: 343px;
    }

    .recipe-card span:first-child {
      font-size: 18pt;
    }

    .recipe-card div {
      display: flex;
      justify-content: flex-end;
      width: 270px;
    }
  </style>
</body>
</html>
