<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <div class="navbar">
      <h3>Cookmaster</h3>

      <% if(user) { %>

      <h3 data-testid="logout">Logout</h3>

      <%} else{ %>

      <h3 data-testid="login"><a href="/login">Login</a></h3>

      <%}%>
    </div>

    <h1>Receitas</h1>

       <% if(user) { %>
    <a <a href="<%="/recipes/new" %> data-testid="nova-receita">Nova Receita</a>

    <%}%>
    <a data-testid="buscar-receita">Buscar Receita</a>

    <% recipes.forEach(recipe => { %>
    <h3><%= recipe.user + recipe.name%></h3>
    <a href=`/receita/${receita.id}` %> >Ver mais</a>


    <% })%>
    
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
