<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
    <style>
    </style>
  </head>
  <body>

    <header>
      <nav>
        <h1>Cookmaster</h1>
        <% if (token) { %>
          <button data-testid="logout" onclick="window.location.pathname='/logout'">Logout</button>
          <% } else { %>
        <button data-testid="login" onclick="window.location.pathname='/login'">Login</button>
        <% } %>
      </nav>
    </header>

    <div>
      <h1>Receitas</h1>
    </div>

    <nav>
      <button data-testid="buscar-receita" onclick="window.location.pathname='/recipes/search'" >Buscar Receita</button>
    <!-- BOTÕES APENAS LOGADO -->
      <% if (token) { %>
        <button onclick="window.location.pathname='me/recipes'" data-testid="minhas-receitas" >Minhas Receitas</button>
        <button  data-testid="nova-receita"  onclick="window.location.pathname='recipes/new'">Nova Receita</button>
        <button onclick="window.location.pathname='me/edit'" data-testid="minha-conta" >Minha Conta</button>
      <% } %>
    </nav>

    <ul>
      <% recipes.forEach(({name, user, id}) => { %>
        <li>
          <%= `${name} - ${user}` %>
          <a href=<%=`recipes/${id}` %>>Ver mais</a>
        </li>
     <% }) %>
    </ul>

  </body>
</html>
