<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('components/navbar'); %>
    <%- include('components/header', {title: 'Receitas'}); %>
    <div class="pageWrapper">
      <% ['users','fds','dsf','dads','asfsa'].forEach(item => { %>
        <%- include('components/recipeCard', { name: item}); %>
      <% }); %>
      <% if (user && user.id) { %>
        <div >
          <%= user.id %>
        </div>
      <% } %>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .pageWrapper {
    width: 1280px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

</style>
