<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('./headBar.ejs', { user }); %>
    <div>
      <h3>Recipes</h3>
      <% if (user) { %>
      <a data-testid='minhas-receitas' >My Recipes</a>
      <a data-testid="nova-receita" >New Recipes</a>
      <a data-testid="minha-conta" >My Acount</a>
      <% } %>
      <a data-testid="buscar-receita">Find Recipes</a>
    </div>
    <%- include('./cardRecipe.ejs', { recipes }); %>
  </body>
</html>
