<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('navbar', {user}) %>
    <h1>Cookmaster</h1>
    <button
      type="button"
      data-testid="buscar-receita"
      onclick="window.location.pathname='/recipes/search'"
    >
      Buscar Receita
    </button>
    <% if (user) { %>
    <button
      type="button"
      data-testid="nova-receita"
      onclick="window.location.pathname='/recipes/new'"
    >
      Nova Receita
    </button>
    <button
      type="button"
      data-testid="minhas-receitas"
      onclick="window.location.pathname='/me/recipes'"
    >
      Minhas Receitas
    </button>
    <% } %>
    <h2>Receitas</h2>
    <%- include('recipesList', {recipes}) %>
  </body>
</html>
