<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-dark bg-dark">
        <h1>Cookmaster!</h1>
        <% if (user) { %>
        <a data-testid="buscar-receita" class="btn btn-primary m-2" href="/recipes/search"
          >Buscar Receita</a
        >
        <a data-testid="nova-receita" class="btn btn-primary m-2" href="/recipes/new"
          >Nova Receita</a
        >
        <a data-testid="minha-conta" class="btn btn-primary m-2" href="/me/edit">Minha Conta</a>
        <a data-testid="minhas-receitas" class="btn btn-primary m-2" href="/me/recipes"
          >Minhas Receitas</a
        >
        Usuário logado: <%=user.firstName %>
        <a data-testid="logout" class="btn btn-primary m-2" href="/logout">Logout</a>
        <% } else { %>
        <div class="d-flex justify-content-around">
          <a data-testid="buscar-receita" class="btn btn-primary" href="/recipes/search"
            >Buscar Receita</a
          >
          <a data-testid="login" class="btn btn-primary" href="/login"> Login </a>
        </div>
        <% } %>
      </nav>
      <h2>Receitas</h2>
      <% recipes.forEach((recipe) => { %>
      <div class="card w-75 m-3">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %></h5>
          <p class="card-text"><%= recipe.user %></p>
          <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">Ver mais</a>
        </div>
      </div>

      <% }) %>
    </div>
  </body>
</html>
