<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <div class="navbar">
      <h1>Cookmaster!</h1>
      <% if(user) { %>
      <p><%= console.log(user) %></p>
      <a href="/">
        <h3 data-testid="logout">Logout</h3>
      </a>
      <%} else{ %>
      <a href="/login">
        <h3 data-testid="login">Login</h3>
      </a>

      <%}%>
    </div>
    <hr />
    <h1>Receitas</h1>

    <a href="/recipes/search"
      ><button data-testid="buscar-receita" class="btn btn-primary">Buscar Receitas</button></a
    >
    <% if(user) { %>
    <a href="/recipes/new"
      ><button data-testid="nova-receita" class="btn btn-primary">Nova Receita</button></a
    >
    <a href="/me/recipes/" data-testid="minhas-receitas" class="btn btn-primary">Minhas Receitas</a>

    <a href="/me/edit" data-testid="minha-conta" class="btn btn-primary">Minha Conta</a>

    <hr />
    <br />
    <div class="card">
      <div class="col-sm-6">
        <% } %> <% recipes.forEach(recipe => { %>
        <div class="card-body">
          <span><h3><%= recipe.user %> <%= recipe.name%></h3></span>
          <a class="btn btn-primary" href="/recipes/<%= recipe.id %>">Ver mais</a>
          <hr />
        </div>

        <% })%>
      </div>
    </div>
  </body>

  <script src="/js/bootstrap.min.js"></script>
</html>
