<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <nav>
      <h1>Cookmaster</h1>
    </nav>
    <section>
      <h1>Receitas</h1>
    </section>
  </body>
</html>
