<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster - Minhas Receitas</title>
</head>
<body>
  <h1>Minhas Receitas</h1>

  <ul>
    <% recipes.forEach(({name, user, id}) => { %>
      <li>
        <%= `${name} - ${user}` %>
        <a href=<%=`/recipes/${id}` %>>Ver mais</a>
      </li>
   <% }) %>
  </ul>

  <a href="/">Voltar</a>
</body>
</html>
