<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Minhas Receitas</title>
  </head>
  <body>
    <div><%- include('./header.ejs', {user}); %></div>
    <div>
      <div>
        <h1>Minhas Receitas</h1>
      </div>
      <% if (recipes.length === 0) { %>
      <h3>Você ainda não tem receitas cadastradas</h3>
      <% } else { %>
      <div>
        <% recipes.forEach((recipe) => { %>
        <div>
          <div>
            <h5><%= recipe.name %></h5>
            <p><%= recipe.user %></p>
            <a href="/recipes/<%= recipe.id %>">Ver mais</a>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
  </body>
</html>
