<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style/home.css" type="text/css"/>
    <title>Cookmaster - Minhas Receitas</title>
  </head>

  <body>

    <header class="header-container p-2">
      <h1>Cookmaster</h1>

      <div class="login-container p-2">
        <% if (user) { %>
          <a data-testid="login" href="/login" class="btn btn-primary">Login</a>
        <% } else { %>
          <a data-testid="logout" href="/logout" class="btn btn-danger">Logout</a>
        <% } %>
      </div>

    </header>

    <section class="container">

      <div class="second-header-container mt-2">
        <h3>Minhas Receitas</h3>

        <div class="btn-panel">
          <a data-testid="nova-receita" href="/recipes/new" class="btn btn-success">Nova Receita</a>
        </div>

      </div>

      <div>
        <% recipes.map(({id, user, name}) =>{ %>
          <div class="card mt-2">
            <li class="card-body">
              <%=`${name} ${user}`%>
              <a href=<%=`recipes/${id}` %> >Ver mais<a/>
            </li>
          </div>
        <% }) %>
      </div>
    </section>

  </body>
</html>
