<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="navbar">
      <h3>Cookmaster</h3>

      <% if (user) { %>
      <h3 data-testid="logout">Logout</h3>
      <% } else { %>
      <h3 data-testid="login">Login</h3>
      <% } %>
    </div>

    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #navbar {
        background-color: gray;
        height: 40px;
        display: flex;
        justify-content: space-between;
      }
      h3 {
        padding: 8px 8px 0 8px;
        margin: 0;
      }
    </style>
  </body>
</html>
