<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Recipe</title>
  </head>
  <body>
    <h1>Nova Receita</h1>

    <form action="/recipes" method="POST">
      <label for="nameInput">Nome da Receita</label>
      <input data-testid="nome-receita" type="text" name="name" id="nameInput" required/>
      <br />
      <label for="ingredientsInput">Ingredientes</label>
      <input data-testid="ingredientes" type="text" name="ingredients" id="ingredientsInput" required/>
      <button data-testid="adicionar-ingrediente" type="button">Adicionar Ingrediente</button>
      <br />
      <label for="methodInput">Modo de preparo: </label>
      <textarea data-testid="modo-de-preparo" name="method" id="methodInput" required></textarea>
      <br />
      <br />
      <button data-testid="postar-receita" type="submit">Postar Receita</button>
    </form>

  <script src="../scripts/newRecipe.js" />
  </body>
</html>
