<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - New Recipe</title>
  </head>
  <body>
    <%- include('./components/header.ejs', { user }) %>
    <h1>Nova Receita</h1>
    <% if (message) { %>
      <h3><%= message %></h3>
      <% } %>
    <form action="/recipes/new" method="POST">
      <label for="nameInput">Nome da Receita</label>
      <input type="text" name="nameRec" id="nameInput" data-testid="nome-receita" required/><br />
      <label for="IngInput">Ingredientes</label>
      <div id="IngList"></div>
      <input type="text" name="ingredients" id="IngInput" data-testid="ingredientes" required/><br />
      <button data-testid="adicionar-ingrediente">Adicionar Ingrediente</button>
      <label for="prepInput">Modo de preparo</label>
      <textarea type="text" name="instructions" id="prepInput" data-testid="modo-de-preparo" required></textarea><br />
      <button onclick="window.location.pathname='/'">Voltar</button>
      <button type="submit" data-testid="postar-receita">Salvar Receita</button>
    </form>
  </body>
</html>
