<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - New Recipe</title>
  </head>
  <body>
    <%- include('./components/header.ejs', { user }) %>
    <h1>Nova Receita</h1>
    <% if (message) { %>
      <h3><%= message %></h3>
      <% } %>
    <form action="/recipes/new" method="POST">
      <label for="nameInput">Nome da Receita</label>
      <input type="text" name="nameRec" id="nameInput" data-testid="nome-receita"/><br />
      <ul id="IngList"></ul>
      <div>
        <label for="IngInput">Ingredientes</label>
        <input type="text" name="ingredients" id="IngInput" data-testid="ingredientes"/><br />
        <button data-testid="adicionar-ingrediente" type="button" onclick="addClick()">Adicionar Ingrediente</button>
      </div>
      <label for="prepInput">Modo de preparo</label>
      <textarea type="text" name="instructions" id="prepInput" data-testid="modo-de-preparo"></textarea><br />
      <button onclick="window.location.pathname='/'">Voltar</button>
      <button type="submit" data-testid="postar-receita" onclick="submitForm()" >Salvar Receita</button>
    </form>
    <script>
      const ingredients = new set();
      const ingInput = document.getElementById('IngInput').value;
      const addBtn = document.getElementById('addBtn');
      const IngList = document.getElementById('IngList');

      const addClick = () => {
        console.log('entrou add click')
        ingredients.add(ingInput);
        const li = document.createElement('li');
        li.innerHTML = `<span>${ingInput}</span
          <button type="button" onClick={${ingredients.delete(ingInput)}}>Excluir Ingrediente</button> `;
        console.log('entrou')
        IngList.appendChild(li);
      }

      const submitForm = () => {
        ingInput = ingredients.join(',')
      }
    </script>
  </body>
</html>
