<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav class="navbar d-flex flex-row bd-highlight bg-dark text-white">
      <div>
        <p class="m-2">
          <a href="/" class="text-white">Cookmaster</a>
        </p>
  </header>

  <section class="text-center">
    <h1 class="text-danger" style="font-size: 15em;"><b>404</b></h1>
    <br>
    <h1 class="text-yellow" style="font-size: 3em;">Página não encontrada <b>:/</b></h1>
    <h4>Desculpe, mas a página que você está tentando acessar não existe.</h4>
    <p>Clique <a href="/"><b>aqui</b></a> para retorna a página inicial.</p>
  </section>

  <footer class="navbar flex-row justify-content-center bg-dark text-white fixed-bottom text-center">
    <div>
      <a href="https://github.com/djonata-dias" target="_blank" rel="noopener noreferrer">
        <img src="/images/github-pages-icon.png" alt="Icone do GitHub" width="50px" />
      </a>
      <a href="https://www.linkedin.com/in/djonata-dias/" target="_blank" rel="noopener noreferrer">
        <img src="/images/linkedin-icon.png" alt="Icone do Linkedin" width="30px" />
      </a>
      <a href="https://www.instagram.com/djosouzadias/" target="_blank" rel="noopener noreferrer">
        <img src="/images/instagram-icon.png" alt="Icone do Instagram" width="55px" />
      </a>
    </div>
    <h5 id="copyright">
      Copyright © 2019-2020 Djonata de Souza Dias. Todos os direitos reservados
    </h5>
  </footer>
</body>

</html>
