<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Delete recipe</title>
  </head>
  <body>
    <%- include('header', { user }); %>
    <form action="/recipes/<%= id %>/delete" method="POST">
      <h3>Confirme a exclusão da receita</h3>
      <% if (message) { %>
        <p><%= message %></p>
      <% } %>
      <label for="password">Senha</label>
      <input type="password" name="password" data-testid="senha">
      <a href="/" data-testid="cancelar">Cancelar</button>
      <button type="submit" data-testid="confirmar">Confirmar</button>
    </form>
  </body>
</html>
