<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Recipes Search</title>
  </head>
  <body>
    <%- include('header') %>
    <h1>Receitas</h1>
    <form action="/recipes/search" method="GET">
      <label for="recipeInput"></label>
      <input type="text" name="q" id="recipeInput" data-testid="receita" />
      <button type="submit" data-testid="buscar">Buscar</button><br />
    </form>
    <%- include('recipesCards') %>
  </body>
</html>
