<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h2>Recipe Details</h2>

    <h3><%= recipe[2] %></h3>

    <h6>Enviado por <%= recipe[1].toUpperCase() %></h6>

    <h3>Ingredientes</h3>

    <p><%= recipe[3] %></p>

    <h3>Modo de preparo</h3>

    <p><%= recipe[4] %></p>
  </body>
</html>
