<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
  </head>
  <body>
    <% if (message) { %>
      <div class="message">
        <%= message %>
      </div>
    <% } %>
    <form action="/register" method="POST">
      <label for="emailInput">Email: </label>
      <input data-testid="email" type="text" name="email" id="emailInput" /><br />
      <label for="passwordInput">Senha: </label>
      <input data-testid="senha" type="password" name="password" id="passwordInput" /><br />
      <label for="cPasswordInput">Confirmar Senha: </label>
      <input data-testid="confirmar-senha" type="password" name="cPassword" id="cPasswordInput" /><br />
      <label for="nomeInput">Nome: </label>
      <input data-testid="nome" type="text" name="nome" id="nomeInput" /><br />
      <label for="sobrenomeInput">Sobrenome: </label>
      <input data-testid="sobrenome" type="text" name="sobrenome" id="sobrenomeInput" /><br />
      <button data-testid="cadastrar" type="submit">Cadastrar-se</button>
      <a data-testid="login" href="/login">Fazer login</a>
    </form>
  </body>
</html>