<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if (message) {%>
    <div class="message">
      <%= message %>
    </div>
    <% } %>
  <form action="/register" method="POST">
    <label for="emailInput">Email: </label>
    <input type="text" name="email" id="emailInput" data-testid="email" /><br />
    <label for="passwordInput">Senha: </label>
    <input type="password" name="password" id="passwordInput" data-testid="senha" /><br />
    <label for="confirmPasswordInput">Confirmar Senha: </label>
    <input type="password" name="confirmPassword" id="confirmPasswordInput" data-testid="confirmar-senha" /><br />
    <label for="firstNameInput">Nome</label>
    <input type="text" name="firstName" id="firstNameInput" data-testid="nome" /><br/>
    <label for="lastNameInput">Sobrenome</label>
    <input type="text" name="lastName" id="lastNameInput" data-testid="sobrenome" /><br/>
    <a href="/login" data-testid="login">Fazer login</a>
    <button type="submit" data-testid="cadastrar">Cadastre-se</button>
  </form>
</body>
</html>
