<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <form>
      <label>Email</label>
      <input data-testid="email" name="email" type="text" />
      <label>Senha</label>
      <input data-testid="senha" name="senha" type="text" />
      <label>Confirmar Senha</label>
      <input data-testid="confirmar-senha" name="confirma-senha" type="text" />
      <label>Nome</label>
      <input data-testid="nome" name="nome" type="text" />
      <label>Sobrenome</label>
      <input data-testid="sobrenome" name="sobrenome" type="text" />
    </form>
  </body>
</html>
