<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <% if (msg) {%>
    <div class="message"><%= msg %></div>
    <% } %>
    <form action="/login" method="POST">
      <label for="email">Email: </label>
      <input data-testid="email" type="email" name="email" id="email" required /><br />
      <label for="password">Senha: </label>
      <input
        data-testid="senha"
        type="password"
        name="password"
        id="password"
        required
      /><br />
      <label for="passwordConfirm">Confirmar senha: </label>
      <input
        data-testid="confirmar-senha"
        type="password"
        name="passwordConfirm"
        id="passwordConfirm"
        required
      /><br />
      <label for="name">Nome: </label>
      <input data-testid="nome" type="text" name="name" id="name" required /><br />
      <label for="lastName">Sobrenome: </label>
      <input
        data-testid="sobrenome"
        type="text"
        name="lastName"
        id="lastName"
        required
      /><br />
      <a href='/login' data-testid="login">Login</a>
      <button data-testid="cadastrar" type="submit">Cadastre-se</button>
    </form>
  </body>
</html>
