<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Search</title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>
    <h1>Buscar Receitas</h1>
    <div>
      <input type="text" name="search" data-testid="receita"/><br />
      <button data-testid="buscar">Buscar</button>
    </div>
    <div>
      <%- include('./components/recipeCard.ejs', { recipes }) %>
    </div>
  </body>
</html>
