<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - Recipes</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <navbar> <%- include('navbar')%> </navbar>
    <h2 align="center">Buscar Receitas</h2>

    <form align="center" action="/recipes/search" method="GET">
      <input type="text" name="q" data-testid="receita" />
      <button type="submit" class="btn btn-primary small" data-testid="buscar">Buscar</button>
    </form>

    <%- include('buscaRecipes', recipes)%>
  </body>
</html>
