<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    <form method="GET">
        <input type="search" name="q" data-testid="receita">
        <button type="submit" data-testid="buscar">Buscar</button>
    </form>
    <% if(user) { %>
        <a href="/">
          <h3 data-testid="logout">Logout</h3>
        </a>
        <%} else{ %>
        <a href="/login">
          <h3 data-testid="login">Login</h3>
        </a>
        <%}%>
      </div>

      <% cooks.forEach(recipe => { %>
        <h3><%= recipe.user %></h3>
        <h4><%= recipe.name %></h4>
        <a href="/recipes/<%= recipe.id %>">Ver mais</a>
      <% }) %></body>
</html>
