<html lang="en">
<%- include("./partials/head.ejs") %>
</head>
<body>
  <h1>Cookmaster</h1>
  <a data-testid="login" href="/login" >Login</a>
  <form action="/recipes/search" method="GET">
    <input data-testid="receita" type="text" name="search" />
    <button data-testid="buscar" type="submit">Buscar</button>
  </form>
</body>
</html>
