<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Search</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div><%- include('./header.ejs', { user }); %></div>
    <div class="d-flex justify-content-center">
      <form method="GET" action="/recipes/search" class="form-inline">
        <div class="form-group mx-sm-3 p-3">
          <input data-testid="receita" class="form-control" type="text" name='q' id="search"/>
        </div>
        <button class="btn btn-primary" data-testid="buscar-receita"
        >Buscar Receita</>
        </button>
      </form>
    </div>
    <div>
      <div class="d-flex justify-content-around flex-wrap">
        <% search.forEach((recipe) => { %>
        <div class="container-md card mb-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.name %></h5>
            <p class="card-text"><%= recipe.user %></p>
            <a href="/recipe/<%= recipe.id %>" class="btn btn-primary">Ver mais</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
  </body>
</html>
