<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Signup</title>
  </head>
  <body>
    <h1>Cookmaster - Cadastro</h1>
    <% if (message) {%>
    <div><%= message %></div>
    <% } %>
    <form action="/signup" method="POST">
      <label for="emailInput">Email</label>
      <input type="text" name="email" id="emailInput" data-testid="email" required />
      <label for="passwordInput">Senha</label>
      <input type="password" name="password" id="passwordInput" data-testid="senha" required />
      <label for="confirmPassword">Confimar Senha</label>
      <input
        type="password"
        name="password"
        id="confirmPassword"
        data-testid="confirmar-senha"
        required
      />
      <label for="nameInput">Nome</label>
      <input type="text" name="firstName" id="nameInput" data-testid="nome" required />
      <label for="lastNameInput">Sobrenome</label>
      <input type="text" name="lastName" id="lastNameInput" data-testid="sobrenome" required />
      <button type="submit" data-testid="cadastrar">Cadastrar-se</button>
    </form>
    <a href="/login" data-testid="login">Login</a>
  </body>
</html>
