<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
  <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %>
    <form action="/signup" method="POST">
      <label for="emailInput">Email: </label>
      <input data-testid="email" type="text" name="email" id="emailinput" required /><br />
      <label for="passwordInput">Senha: </label>
      <input data-testid="senha" type="password" name="password" id="passwordInput" required /><br />
      <label for="passwordCheckInput">Confirmar senha: </label>
      <input
        data-testid="confirmar-senha"
        type="password" name="passwordCheck"
        id="passwordCheckInput"
        required
      /><br />
      <label for="firstNameInput">Nome: </label>
      <input data-testid="nome" type="text" name="firstName" id="firstNameInput" required /><br />
      <label for="lastNameInput">Sobrenome: </label>
      <input data-testid="sobrenome" type="text" name="lastName" id="lastNameInput" required /><br />
      <button data-testid="cadastrar" type="submit">Cadastre-se</button>
      <a href="/login">
        <spam data-testid="login">Login</spam>
      </a>
    </form>
</body>
</html>
