<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas do usuário</title>
</head>

<body>
    <h1>Cookmaster</h1>
    <h2>Receitas do usuário</h2>
    <ul>

        <% recipes.forEach((recipe) => { %>
        <li>
            <%= recipe.name %> do <%= recipe.user %> <a href="/recipes/<%= recipe.id %>">Ver mais</a>
        </li>
        <% }); %>

    </ul>
</body>

</html>
