<header class="navbar navbar-dark bg-info justify-content-between">
  <h1>Cookmaster</h1>
  <% if (user){ %>
  <a href="/logout" data-testid="logout" class="btn btn-primary">Logout</a>
  <% }else { %>
  <a href="/login" data-testid="login" class="btn btn-primary">Login</a>
  <%} %>
</header>
