<%- include('../header'); -%>
    <div class="receitas">
      <a class="navbar-brand">Detalhes da Receita</a>

      <% if( user !== undefined && user.id === recipe.user_id ) { %>
      <a href="/editar" class="btn btn-outline-primary my-2 my-sm-0" data-testid="editar-receita">
        Editar Receita
      </a>
      <a href="/delete" class="btn btn-outline-danger my-2 my-sm-0" data-testid="excluir-receita">
        Excluir Receita
      </a>
      <% } %>
      <h5 class="title"><%= recipe.name %></h5>
      <p class="ingredients"><%= recipe.ingredients %></p>
      <p class="instrucoes"><%= recipe.instructions  %> </p>
    </div>
  </body>
</html>
