<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <p>Cookmaster</p>
      <% if (!user) { %>
      <a data-testid="login" href="Login">Login</a>
      <% } %> <% if (user) { %> Olá, <%= user.name %>
      <a data-testid="logout" href="/logout">Logout</a>
      <% } %>
    </header>
    <h1>Receitas</h1>
    <% if (user) { %>
    <a data-testid="nova-receita"></a>
    <% } %>
    <a data-testid="buscar-receita" href="/recipes/search">Buscar Receita</a>

    <div>
      <% recipes.forEach(r => { %>
      <div>
        <p><%=r.name%></p>
        <p><%=r.user%></p>
        <a href="/recipes/<%=r.id%>">Ver mais</a>
      </div>
      <% }); %>
    </div>
  </body>
</html>
