<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster - My Recipes</title>
</head>

<body>
  <%- include('../components/header', {userData}) %>
  <h1>Minhas Receitas</h1>
  <%- include('../components/recipesList', {recipes}) %>
</body>

</html>
