<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster - New Recipe</title>
</head>

<body>
  <%-include('../header', {userData})%>
  <h1>Nova Receita</h1>
  <%-include('recipeForm', {recipe: {}})%>
</body>

</html>
