<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Nova Receita</title>
  </head>
  <body>
    <%- include('../templates/header.ejs', {user}) %>
    <form action="/recipes" method="POST">
      <div>
        <h1>Nova Receita</h1>
        <label for="nameRecipe">Nome da Receita</label>
        <input type="text" name="name" id="nameRecipe" data-testid="nome-receita" />
        <h3>Ingredientes</h3>
        <div>
          <input type="hidden" name="ingredients" id="ingredients" />
          <ul id="listIngredients"></ul>
        </div>
        <input id="ingredientsInput" type="text" data-testid="ingredientes" />
        <button id="add" data-testid="adicionar-ingrediente">Adicionar Ingrediente</button>
        <label for="nameRecipe">Modo de Preparo</label>
        <input type="text" name="instructions" id="nameRecipe" data-testid="modo-de-preparo" />
      </div>
      <a href="/">Voltar</a>
      <button type="submit" data-testid="postar-receita">Salvar Receita</button>
    </form>
    <% if (message) { %>
    <p><%= message %></p>
    <%}%>
  </body>
  <script>
    const input = document.querySelector('#ingredientsInput');
    const ul = document.querySelector('#listIngredients');
    const ingredients = document.querySelector('#ingredients');
    let arrayIngredients = [];

    document.querySelector('#add').addEventListener('click', (e) => {
      e.preventDefault();
      const li = document.createElement('li');
      const btn = document.createElement('button');

      li.innerText = input.value;
      btn.innerText = 'Excluir Ingrediente';

      arrayIngredients.push(input.value);
      ingredients.value = arrayIngredients.join(','); // para salvar no banco de dados

      ul.appendChild(li);
      ul.appendChild(btn);
      input.value = null;

      btn.addEventListener('click', (e) => {
        e.preventDefault();
        const deleteIngredient = arrayIngredients.filter((item) => item == li.innerText);
        arrayIngredients.splice(arrayIngredients.indexOf(deleteIngredient), 1);
        ingredients.value = arrayIngredients.join(',');
        li.remove();
        btn.remove();
      });
    });
  </script>
</html>
