<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Cookmaster'}) %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container home">
      <h1>Receitas</h1>      
    </div>
    <div class="container">
      <form method="GET">
        <div>
          <input id="search" name="q" type="text" data-testid="receita" required>
          <button type="submit" data-testid="buscar">Buscar</button>
        </div>
      </form>
    </div>
    <div class="container-cards">
      <% if (recipes) { %>
        <% for (let i = 0; i <= recipes.length-1; i++ ) { %> 
          <%- include('../partials/recipeCard', {i}) %>
        <% } %>
      <% } %>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
