<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro</title>
  </head>
  <body>
    <% if (message) {%>
    <div class=",essage"><% message %></div>
    <% } %>
    <h1>Cookmaster - Cadastro</h1>
    <form action="/singup" method="POST">
      <label for="emailInput">Email</label>
      <input data-testid="email" type="text" name="email" id="emailInput" />
      <label for="passwordInput">Senha</label>
      <input data-testid="senha" type="password" name="password" id="passwordInput" />
      <label for="verifyPasswordInput">Confirmar Senha</label><br />
      <input
        data-testid="confirmar-senha"
        type="password"
        name="verifyPassword"
        id="verifyPasswordInput"
      /><br />
      <label for="nameInput">Nome</label><br />
      <input data-testid="nome" type="text" name="name" id="nameInput" /><br />
      <label for="lastNameInput">Sobrenome</label><br />
      <input data-testid="sobrenome" type="text" name="lastName" id="lastNameInput" /><br />
      <button data-testid="cadastrar" type="submit">Cadastre-se</button>
    </form>
    <a data-testid="login" href="/login">Login</a>
  </body>
</html>
