html,body {
  background: rgba(255,250,250);
  font-family: Noto Sans, sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

form {
  width: 100%;
}

input {
  border: 1px solid lightgrey;
  box-sizing: border-box;
  height: 25px;
  margin: 5px 0 10px;
  width: 100%;
}

textarea {
  border: 1px solid lightgrey;
  box-sizing: border-box;
  margin: 5px 0 10px;
  width: 100%;
}

.button {
  background: rgba(28,135,201);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
}

.message {
  color: red;
  font-weight: 700;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home {
  margin-top: 10px;
  max-width: 100%;
  padding: 0 50px;
}

.form {
  align-items: flex-start;
  flex-direction: column;
}

.container-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container-box > div {
  background: rgba(211,211,211);
  padding: 50px;
  width: 300px;
}

.container-navbar {
  align-items: center;
  background: rgba(211,211,211);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding: 6px 50px;
  width: 100%;
}

.card {
  background: grey;
  box-sizing: border-box;
  height: 150px;
  margin: 10px;
  padding: 18px 24px;
  width: 220px;
}

.container-cards {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  margin: 30px 50px;
  max-width: 100%;
}

.footer {
  bottom: 0;
  height: 30px;
  position: absolute;
}

.footer > p {
  margin: 0;
}
